<style>
    textarea
    {
        resize: vertical;
    }

    .textbox-spinner
    {
        z-index: 5;
        float: right;
        margin-top: -25px;
        margin-right: 8px;
        color: darkgray;
    }
</style>
<template>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Create Notes</div>

            <div class="panel-body">

                <div class="row">

                    <form action="/profile/notes/store" id="form-notes" @submit.prevent="saveNotes">

                        <div class="col-xs-4 form-group">
                            <select name="category_id" class="form-control" required>
                                <option :value="category.id" v-for="category in $store.state.categories">{{ category.name }}</option>
                            </select>
                        </div>

                        <div class="col-xs-12 form-group">
                            <input type="text" name="title" class="form-control" placeholder="Title" required>
                        </div>

                        <div class="col-xs-12 form-group">
                            <textarea name="contents" rows="6" class="form-control" placeholder="Contents" required></textarea>
                        </div>

                        <div class="col-xs-12 form-group">
                            <button class="btn btn-primary" type="submit" :disabled="loading==1">
                                <i v-show="loading==1" class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></i>
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <input id="type-ahead" class="typeahead form-control" type="text" placeholder="Search keywords" @keyup="reset" :disabled="loading==2"/>
                        <i v-show="loading==2" class="fa fa-spin fa-circle-o-notch textbox-spinner"></i>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row"  v-for="(note,index) in $store.state.notes">
                    <div class="col-xs-12 form-group" v-if="selectedNote==note.id">
                        <form action="/profile/notes/update" @submit.prevent="updateNotes(index,$event)">
                            <div class="row">
                                <div class="col-md-3">
                                    <select name="category_id" class="form-control" required>
                                        <option :value="category.id" v-for="category in $store.state.categories" :selected="category.id==note.category_id">{{ category.name }}</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <input type="hidden" name="id" :value="note.id" required>
                                    <input class="form-control" type="text" name="title" :value="note.title" required>
                                </div>
                                <div class="col-md-2">
                                   <span class="pull-right">
                                      <button type="submit" class="btn btn-xs btn-success" :disabled="loading==3">
                                          <i v-if="loading==3" class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></i>
                                          <i v-else class="fa fa-floppy-o" aria-hidden="true"></i>
                                      </button>
                                      <button @click="selectedNote=0" type="button" class="btn btn-xs btn-warning"><i class="fa fa-times" aria-hidden="true"></i></button>
                                   </span>
                            </span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea name="contents" rows="6" class="form-control" placeholder="Contents" required> {{ note.contents }} </textarea>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-xs-12 form-group" v-else>
                        <p>
                            <strong>{{ getCategoryName(note.category_id) }}</strong> - {{ note.title }}
                            <span class="pull-right">
                                  <button type="button" @click="selectedNote = note.id" class="btn btn-xs btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                  <button type="button" @click="deleteNote(index,note.id)" class="btn btn-xs btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </span>
                        </p>

                        <pre>{{ note.contents }}</pre>
                    </div>

                    <div class="col-xs-12 form-group">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
    export default {
        props : [],
        data(){
            return {
                categories : [],
                notes : [],
                selectedNote : null,
                loading : null //1 for saving //2 for searching
            }
        },

        created()
        {

        },

        mounted() {
            this.typeAheadChecker();
        },

        methods : {
            getCategories()
            {
                axios.get('/profile/notes/categories/get')
                        .then(function(response) {
                            this.categories = response.data.lists;
                        }.bind(this));

            },

            getNotes()
            {
                this.loading=2;
                axios.get('/profile/notes/get')
                        .then(function(response) {
                            this.$store.commit('setNotes',response.data.lists);
                            this.loading=null;
                        }.bind(this));
            },

            typeAheadChecker()
            {
                setTimeout(()=>{
                    if(this.$store.state.typeAhead.length==0){
                        this.typeAheadChecker();
                    }
                    else{
                        this.typeAhead();
                    }
                },500);
            },

            typeAhead()
            {
                let self = this;
                $("#type-ahead").typeahead({
                    source: this.$store.state.typeAhead,
                    autoSelect: true,
                    items : 10,
                    afterSelect : function(item) {
                        self.loading = 2;
                        axios.get('/profile/notes/search/', {
                            params: { keyword : item.name }
                            })
                            .then(function(response) {
                                self.$store.commit('setNotes',response.data.lists);
                                self.loading = null;
                            });
                    }
                });
            },

            reset(e)
            {
                if($(e.target).val()=='')
                {
                    this.getNotes();
                }
                return false;
            },

            saveNotes(e)
            {
                let $form = $(e.target);
                this.loading = 1;

                axios.post($form.attr('action'), $form.serialize() )
                        .then(function(response) {
                            $form[0].reset();
                            this.$store.commit('addNote',response.data.data);
//                            this.notes.unshift(response.data.data);
                            this.loading = null;
                        }.bind(this));
            },

            getCategoryName(id)
            {
                let cat = this.$store.state.categories;
                for(let i in cat)
                {
                    if(cat[i]['id']==id)
                    {
                        return cat[i]['name'];
                    }
                }
//                return  _.find(this.categories,{ 'id': parseInt(id)  }).name;
            },

            deleteNote(index,id)
            {
                let txt;
                let r = confirm("Want to remove this note? This action cannot be undone");
                if (r == true) {
                    this.$store.commit('deleteNote',index);
                    axios.delete('/profile/notes/delete/' + id)
                            .then(function (response) {
                    }.bind(this));
                }
            },

            updateNotes(index,e)
            {
                let $form = $(e.target);
                this.loading = 3;
                axios.patch($form.attr('action'), $form.serialize() )
                        .then(function(response) {
                            this.$store.commit('updateNote',{ note : response.data.data, index : index });
                            this.loading = null;
                            this.selectedNote = 0;
                        }.bind(this));

            }
        }
    }
</script>
